.review {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px;
    .user {
        display: flex;
        align-items: center;

        .pp {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .country {
            display: flex;
            align-items: center;
            color: gray;
            gap: 10px;

            img {
                width: 20px;
            }
        }
    }

    .stars {
        display: flex;
        gap: 5px;
        align-items: center;

        img {
            width: 14px;
            height: 14px;
        }

        span {
            font-size: 14px;
            font-weight: bold;
            color: #ffc108;
        }
    }

    .helpful {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            width: 14px;
        }
    }
    .loader {
        margin: auto;
        border: 8px solid #fff;
        border-radius: 90%;
        border-top: 8px solid #1dbf73;
        width: 45px;
        height: 45px;
        animation: spinner 2s linear infinite;
    }

    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}