.trustedBy {
    justify-content: center;
    display: flex;
    background-color: #fafafa;
    height: 100px;

    .container {
        width: 760px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: lightgray;
        font-weight: 500;
    }

    img {
        height: 60px;
        object-fit: contain;
    }
}