.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  color: white;
  overflow: hidden;
  background-position: center;
  background-image: url('hero2.webp');
  // animation: change  infinite;
  // animation-duration: 60s;
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-delay: 0ms;

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    position: absolute;

    .left {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 50px;

        span {
          font-style: italic;
          font-weight: 300;
        }
      }

      .search {
        background-color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          input {
            border: none;
            outline: none;

            &::placeholder {
              color: gray;
            }
          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: #1dbf73;
          color: white;
          cursor: pointer;
          font-weight: 400;
          font-size: large;
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'Montserrat', 'sans-serif';
        font-size: 16px/24px;

        span {
          width: max-content;
        }

        button {
          width: max-content;
          color: white;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;
          font-family: 'Montserrat', 'sans-serif';

          &:hover {
            background: white;
            color: black;
          }
        }
      }
    }
  }
}

@keyframes change {
  0% {
    background-image: url('hero1.webp');
  }
  20% {
    background-image: url('hero2.webp');
  }
  40% {
    background-image: url('hero3.webp');
  }

  60% {
    background-image: url('hero4.webp');
  }

  80% {
    background-image: url('hero5.webp');
  }

  100% {
    background-image: url('hero6.webp');
  }
}