.success {
    color: rgb(42, 244, 42);
    justify-content: center;
    display: flex;
    margin: 50px;
    font-size: large;

}

.close {
    color: red;
    justify-content: center;
    display: flex;
}

.cm {
   img{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
   }
}