.becomeseller2 {
    display: flex;
    justify-content: flex-start;
    padding: 10px 90px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    .container {
        width: 1400px;
        display: flex;
        align-items: center;
        gap: 100px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 0px;

            &:first-child {
                flex: initial;

            }

            img {
                width: 343px;
                height: 502px;
                margin-bottom: 40px;
                border-radius: 5px;
            }
        }

        .item2 {
            width: 49pc;
            background-color: #fffefe;

            .header_item2 {
                display: flex;
                flex-direction: column;
                gap: 1px;
                margin: 0;
                background-color: white;

                h1 {
                    font-weight: 500;
                    margin: 0;
                }
            }

            .title {
                margin-top: 5px;
                display: flex;
                align-items: center;
                gap: 20px;
                font-weight: 500;
                font-size: 18px;

                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    background: #fff;
                    gap: 10px;

                    img {
                        width: 40px;
                        height: 48px;
                        display: flex;
                        margin: auto;
                        flex-direction: row-reverse;
                    }
                }

            }
        }


    }

    button {
        width: fit-content;
        height: 50px;
        border: none;
        background-color: #1dbf73;
        color: white;
        align-self: flex-end;
        cursor: pointer;
        font-weight: 400;
        font-size: large;
        margin: 30px;
    }
}