.add {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', 'sans-serif';

  .container {
    width: 1400px;
    padding: 50px 0px;

    h1 {
      margin-bottom: 30px;
      color: gray;
      font-weight: 300;
    }

    .sections {
      display: flex;
      justify-content: space-between;
      gap: 100px;

      .left,
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;

        label {
          color: gray;
          font-size: 18px;

        }

        input,
        select,
        textarea {
          font-size: 14px;
          padding: 20px;

          &::placeholder {
            font-family: 'Montserrat', 'sans-serif';
          }
        }

        .images {
          display: flex;
          align-items: center;
          gap: 20px;

          .imagesInputs {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
        }

        button {
          color: white;
          background: #1dbf73;
          border: none;
          padding: 20px;
          font-weight: 500;
          font-size: 18px;
          cursor: pointer;
        }

        .add {
          display: flex;
          justify-content: space-between;

          input {
            width: 70%;
          }
        }
        .addedFeatures{
          display: flex;gap: 20px;
          button{
            height: 30px;
            font-size: 12px;
            font-weight: 400;background: transparent;
            color: red;border: 1px solid red;
            display: flex;align-items: center;gap: 20px;
          }
        }
      }

    }
  }
}