.orders{
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    .container {
        width: 1400px;
        padding: 50px 0px;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                background: #1dbf73;
                color: white;
                padding: 10px;
                border: none;
                font-weight: 500;
                cursor: pointer;
            }
        }

        table {
            width: 100%;

            tr {
                th {
                    text-align: left;
                }

                height: 50px;

                td {
                    img {
                        width: 50px;
                        height: 25px;
                        object-fit: cover;

                    }

                    .message {
                        width: 25px;
                        cursor: pointer;
                    }
                }
                &:nth-child(even){
                    background-color: #1dbf730f;
                }
            }
        }
    }
}