.becomeseller {
    display: flex;
    justify-content: flex-start;
    padding: 10px 90px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    .container {
        width: 1400px;
        display: flex;
        align-items: center;
        gap: 100px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 0px;

            &:first-child {
                flex: 3;
            }

            &:last-child {  
                background-color: black;
            }

            h1 {
                font-weight: 500;
                margin-bottom: 10px;
            }

            p {
                font-size: 18px;
                font-weight: 300;
                color: rgb(61, 61, 61);
                line-height: 28px;
                letter-spacing: 1px;
            }

            .title {
                margin-top: 5px;
                display: flex;
                align-items: center;
                gap: 15px;
                font-weight: 500;
                font-size: 18px;

                img {
                    width: 35px;
                    height: 35px;
                }
            }

            video {
                width: 720px;
            }
        }
       
    } button {
            width: fit-content;
            height: 50px;
            border: none;
            background-color: #1dbf73;
            color: white;
            align-self: flex-end;
            cursor: pointer;
            font-weight: 400;
            font-size: large;
            border-radius: 1px;
          }
}